*, *::before, *::after {
  box-sizing: border-box;
  background-color: rgb(207, 207, 207);
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.inpt{
  height: 70px;
  width: 300px;
  border: none;
  border-radius: 8px;
  background-color: rgb(247, 247, 168);
  text-align: center;
  font-size: 24px;
}

.lengthbox{
  width: 220px;
  height: 70px;
  background-color: rgb(159, 221, 159);
}

.pp{
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  color: rgb(49, 46, 46);
}

.postbox{
  background-color: skyblue;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7%;
  font-size: 20px;
  color: rgb(49, 46, 46);
}

button{
  width: 70px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(206, 141, 141);
  border-radius: 3px;
  color: rgb(49, 46, 46);
}

.par{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}